.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mdl-layout__header-row {
    height: 50px;
    padding: 0 16px 0 1px;
}

.mdl-layout__header {
    min-height: 54px;
    /*background-color: rgba(0, 0, 0, 0.87); */
    /* color: rgb(255,64,129); */
}

.material-icons {
  padding: 0 10px 0 0;
}

.mdl-layout-title {
  padding: 0 0 0 25px;
}

#demo-menu-lower-left {
  margin-left: 12px;
}

.material-icons.orange600 { color: #FB8C00; }

.demo-card-wide.mdl-card {
  width: 512px;
  margin: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-tabs {
  width: auto;
}
